<a href="https://colab.research.google.com/github/AnitaJaime/AnitaJaime/blob/main/set_Pr%C3%A1ctica.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Dada la lista de estudiantes, elimina los elementos repetidos de la misma, usando para ello una estructura set. El resultado final debe ser una lista, con la misma estructura de la original, pero sin datos repetidos.

In [ ]:
students = [
    {"name": "Abud Laspiur, Lourdes Mariel", "section": "C", "dob": "05/12/2006"},
    {"name": "Amador, Luana Micaela", "section": "C", "dob": "09/12/2006"},
    {"name": "Anaquin, Leonardo Ezequiel", "section": "C", "dob": "06/09/2005"},
    {"name": "Araoz Sanchez, Lautaro Nahuel", "section": "C", "dob": "28/12/2005"},
    {"name": "Argañaraz, Agostina Abril", "section": "C", "dob": "11/10/2006"},
    {"name": "Barrera, Matias Ezequiel", "section": "C", "dob": "27/02/2007"},
    {"name": "Barrera, Matias Ezequiel", "section": "C", "dob": "27/02/2007"},
    {"name": "Barrozo Vedia, Joaquin Nicolas", "section": "C", "dob": "15/04/2006"},
    {"name": "Bettinelli, Valentino", "section": "C", "dob": "12/07/2006"},
    {"name": "Bracamonte Martinez, Salvador", "section": "C", "dob": "02/11/2005"},
    {"name": "Colque Rivero, Ariana Zoe Del Valle", "section": "C", "dob": "27/12/2006"},
    {"name": "Diaz, Dulce Maitena", "section": "C", "dob": "11/12/2006"},
    {"name": "Figueroa, Santino Josue", "section": "C", "dob": "12/05/2007"},
    {"name": "Figueroa, Santino Josue", "section": "C", "dob": "12/05/2007"},
    {"name": "Flores Cardozo, Agustina Tiara", "section": "C", "dob": "18/03/2006"},
    {"name": "Gallo, Octavio Ismael", "section": "C", "dob": "04/08/2006"},
    {"name": "Galvan, Lourdes Yamila", "section": "C", "dob": "19/08/2005"},
    {"name": "Giangreco, Vitto Tomasso", "section": "C", "dob": "21/03/2007"},
    {"name": "Grancara, Martina Luna", "section": "C", "dob": "15/12/2006"},
    {"name": "Guanca, Sara Elizabeth", "section": "C", "dob": "17/01/2007"},
    {"name": "Lopez, Victoria Constanza", "section": "C", "dob": "12/11/2007"},
    {"name": "Mamani Garrido, Rosario Agostina", "section": "C", "dob": "24/10/2006"},
    {"name": "Marinaro, Martin Ezequiel", "section": "C", "dob": "03/11/2006"},
    {"name": "Merluzzi Dagum, Ignacio", "section": "C", "dob": "22/12/2005"},
    {"name": "Messina, Martina", "section": "C", "dob": "13/07/2005"},
    {"name": "Rasuk, Karim", "section": "C", "dob": "13/07/2007"},
    {"name": "Rasuk, Karim", "section": "C", "dob": "13/07/2007"},
    {"name": "Rios, Lucia Magali", "section": "C", "dob": "22/09/2006"},
    {"name": "Sanchez Flores, Matías Agustín", "section": "C", "dob": "15/02/2007"},
    {"name": "Scarano, Renato Marcelo", "section": "C", "dob": "06/12/2006"},
    {"name": "Sierra, Lucas Mauricio", "section": "C", "dob": "03/04/2005"},
    {"name": "Tapia, Martin Gabriel", "section": "C", "dob": "30/05/2006"},
    {"name": "Vilte, Mia Antonella Alondra", "section": "C", "dob": "10/09/2005"},
    {"name": "Virgillito, Katya Milena", "section": "C", "dob": "19/06/2007"},
    {"name": "Alurralde, Solange Stefania", "section": "D", "dob": "02/04/2007"},
    {"name": "Alvarado, Ludmila Del Milagro", "section": "D", "dob": "06/09/2006"},
    {"name": "Angel, Camila Juliana", "section": "D", "dob": "07/03/2007"},
    {"name": "Arenas, Lucas Gabriel", "section": "D", "dob": "26/06/2007"},
    {"name": "Caseres, Maria Antonia", "section": "D", "dob": "01/07/2006"},
    {"name": "Castillo, Paulina Milagros", "section": "D", "dob": "01/06/2007"},
    {"name": "Correa Segovia, Hugo Mariano", "section": "D", "dob": "04/12/2006"},
    {"name": "Correa Segovia, Hugo Mariano", "section": "D", "dob": "04/12/2006"},
    {"name": "D Elia, Alvaro Tadeo", "section": "D", "dob": "27/08/2006"},
    {"name": "Flores, Victoria Agustina", "section": "D", "dob": "12/12/2006"},
    {"name": "Geronimo Soriano, Lizzie Amaya", "section": "D", "dob": "20/01/2007"},
    {"name": "Guzman, Angélica Morena", "section": "D", "dob": "11/04/2007"},
    {"name": "Guzman, Jazmin Esmeralda Belen", "section": "D", "dob": "31/07/2006"},
    {"name": "Jaime, Anita Maria Belen", "section": "D", "dob": "19/04/2007"},
    {"name": "Lacour Polo, Nazarena", "section": "D", "dob": "19/12/2005"},
    {"name": "Lascano Guanca, Marcelo Fabricio", "section": "D", "dob": "17/02/2006"},
    {"name": "Lezcano, Celia Morena", "section": "D", "dob": "01/07/2005"},
    {"name": "Martinez, Tomas Andres", "section": "D", "dob": "22/03/2007"},
    {"name": "Portella Valdivia, Pedro Francisco", "section": "D", "dob": "24/01/2007"},
    {"name": "Retamal Cisneros, Zacarias Josue", "section": "D", "dob": "24/02/2007"},
    {"name": "Rosales, Francisco Gabriel", "section": "D", "dob": "14/11/2006"},
    {"name": "Salem Barba, Mahia", "section": "D", "dob": "14/10/2005"},
    {"name": "Soto Camara, Agustin Ignacio", "section": "D", "dob": "07/11/2005"},
    {"name": "Villalba, Irina", "section": "D", "dob": "09/09/2006"},
    {"name": "Voltolini, Emanuel Tobias", "section": "D", "dob": "17/09/2006"},
    {"name": "Zalazar, Santino Stefano", "section": "D", "dob": "30/09/2006"},
    {"name": "Zalazar, Santino Stefano", "section": "D", "dob": "30/09/2006"}
]

unique_students = []
seen = set()

for student in students:
    identifier = (student["name"], student["section"], student["dob"])
    if identifier not in seen:
        seen.add(identifier)
        unique_students.append(student)

for student in unique_students:
    print(student)

{'name': 'Abud Laspiur, Lourdes Mariel', 'section': 'C', 'dob': '05/12/2006'}
{'name': 'Amador, Luana Micaela', 'section': 'C', 'dob': '09/12/2006'}
{'name': 'Anaquin, Leonardo Ezequiel', 'section': 'C', 'dob': '06/09/2005'}
{'name': 'Araoz Sanchez, Lautaro Nahuel', 'section': 'C', 'dob': '28/12/2005'}
{'name': 'Argañaraz, Agostina Abril', 'section': 'C', 'dob': '11/10/2006'}
{'name': 'Barrera, Matias Ezequiel', 'section': 'C', 'dob': '27/02/2007'}
{'name': 'Barrozo Vedia, Joaquin Nicolas', 'section': 'C', 'dob': '15/04/2006'}
{'name': 'Bettinelli, Valentino', 'section': 'C', 'dob': '12/07/2006'}
{'name': 'Bracamonte Martinez, Salvador', 'section': 'C', 'dob': '02/11/2005'}
{'name': 'Colque Rivero, Ariana Zoe Del Valle', 'section': 'C', 'dob': '27/12/2006'}
{'name': 'Diaz, Dulce Maitena', 'section': 'C', 'dob': '11/12/2006'}
{'name': 'Figueroa, Santino Josue', 'section': 'C', 'dob': '12/05/2007'}
{'name': 'Flores Cardozo, Agustina Tiara', 'section': 'C', 'dob': '18/03/2006'}
{'name': 'Gallo, Octavio Ismael', 'section': 'C', 'dob': '04/08/2006'}
{'name': 'Galvan, Lourdes Yamila', 'section': 'C', 'dob': '19/08/2005'}
{'name': 'Giangreco, Vitto Tomasso', 'section': 'C', 'dob': '21/03/2007'}
{'name': 'Grancara, Martina Luna', 'section': 'C', 'dob': '15/12/2006'}
{'name': 'Guanca, Sara Elizabeth', 'section': 'C', 'dob': '17/01/2007'}
{'name': 'Lopez, Victoria Constanza', 'section': 'C', 'dob': '12/11/2007'}
{'name': 'Mamani Garrido, Rosario Agostina', 'section': 'C', 'dob': '24/10/2006'}
{'name': 'Marinaro, Martin Ezequiel', 'section': 'C', 'dob': '03/11/2006'}
{'name': 'Merluzzi Dagum, Ignacio', 'section': 'C', 'dob': '22/12/2005'}
{'name': 'Messina, Martina', 'section': 'C', 'dob': '13/07/2005'}
{'name': 'Rasuk, Karim', 'section': 'C', 'dob': '13/07/2007'}
{'name': 'Rios, Lucia Magali', 'section': 'C', 'dob': '22/09/2006'}
{'name': 'Sanchez Flores, Matías Agustín', 'section': 'C', 'dob': '15/02/2007'}
{'name': 'Scarano, Renato Marcelo', 'section': 'C', 'dob': '06/12/2006'}
{'name': 'Sierra, Lucas Mauricio', 'section': 'C', 'dob': '03/04/2005'}
{'name': 'Tapia, Martin Gabriel', 'section': 'C', 'dob': '30/05/2006'}
{'name': 'Vilte, Mia Antonella Alondra', 'section': 'C', 'dob': '10/09/2005'}
{'name': 'Virgillito, Katya Milena', 'section': 'C', 'dob': '19/06/2007'}
{'name': 'Alurralde, Solange Stefania', 'section': 'D', 'dob': '02/04/2007'}
{'name': 'Alvarado, Ludmila Del Milagro', 'section': 'D', 'dob': '06/09/2006'}
{'name': 'Angel, Camila Juliana', 'section': 'D', 'dob': '07/03/2007'}
{'name': 'Arenas, Lucas Gabriel', 'section': 'D', 'dob': '26/06/2007'}
{'name': 'Caseres, Maria Antonia', 'section': 'D', 'dob': '01/07/2006'}
{'name': 'Castillo, Paulina Milagros', 'section': 'D', 'dob': '01/06/2007'}
{'name': 'Correa Segovia, Hugo Mariano', 'section': 'D', 'dob': '04/12/2006'}
{'name': 'D Elia, Alvaro Tadeo', 'section': 'D', 'dob': '27/08/2006'}
{'name': 'Flores, Victoria Agustina', 'section': 'D', 'dob': '12/12/2006'}
{'name': 'Geronimo Soriano, Lizzie Amaya', 'section': 'D', 'dob': '20/01/2007'}
{'name': 'Guzman, Angélica Morena', 'section': 'D', 'dob': '11/04/2007'}
{'name': 'Guzman, Jazmin Esmeralda Belen', 'section': 'D', 'dob': '31/07/2006'}
{'name': 'Jaime, Anita Maria Belen', 'section': 'D', 'dob': '19/04/2007'}
{'name': 'Lacour Polo, Nazarena', 'section': 'D', 'dob': '19/12/2005'}
{'name': 'Lascano Guanca, Marcelo Fabricio', 'section': 'D', 'dob': '17/02/2006'}
{'name': 'Lezcano, Celia Morena', 'section': 'D', 'dob': '01/07/2005'}
{'name': 'Martinez, Tomas Andres', 'section': 'D', 'dob': '22/03/2007'}
{'name': 'Portella Valdivia, Pedro Francisco', 'section': 'D', 'dob': '24/01/2007'}
{'name': 'Retamal Cisneros, Zacarias Josue', 'section': 'D', 'dob': '24/02/2007'}
{'name': 'Rosales, Francisco Gabriel', 'section': 'D', 'dob': '14/11/2006'}
{'name': 'Salem Barba, Mahia', 'section': 'D', 'dob': '14/10/2005'}
{'name': 'Soto Camara, Agustin Ignacio', 'section': 'D', 'dob': '07/11/2005'}
{'name': 'Villalba, Irina', 'section': 'D', 'dob': '09/09/2006'}
{'name': 'Voltolini, Emanuel Tobias', 'section': 'D', 'dob': '17/09/2006'}
{'name': 'Zalazar, Santino Stefano', 'section': 'D', 'dob': '30/09/2006'}

2. Crea un conjunto de nombres y otro de apellidos para 5C y  para 5D.
- Muestra los conjuntos generados

> recordá que los conjuntos solo pueden almacenar datos inmutables

In [10]:

nombres_5C = set()
apellidos_5C = set()
nombres_5D = set()
apellidos_5D = set()

for student in unique_students:
    nombre_completo = student["name"]
    section = student["section"]

    apellidos, nombres = nombre_completo.split(",", 1)
    apellidos = apellidos.strip()
    nombres = nombres.strip()

    if section == "C":
        nombres_5C.add(nombres)
        apellidos_5C.add(apellidos)
    elif section == "D":
        nombres_5D.add(nombres)
        apellidos_5D.add(apellidos)

print("Nombres 5C:", nombres_5C)
print("Apellidos 5C:", apellidos_5C)
print("Nombres 5D:", nombres_5D)
print("Apellidos 5D:", apellidos_5D)

Nombres 5C: {'Lourdes Yamila', 'Martina', 'Ariana Zoe Del Valle', 'Sara Elizabeth', 'Matías Agustín', 'Victoria Constanza', 'Rosario Agostina', 'Vitto Tomasso', 'Martin Gabriel', 'Dulce Maitena', 'Mia Antonella Alondra', 'Luana Micaela', 'Lautaro Nahuel', 'Karim', 'Valentino', 'Renato Marcelo', 'Lourdes Mariel', 'Salvador', 'Santino Josue', 'Martina Luna', 'Joaquin Nicolas', 'Lucia Magali', 'Martin Ezequiel', 'Katya Milena', 'Matias Ezequiel', 'Leonardo Ezequiel', 'Ignacio', 'Agustina Tiara', 'Octavio Ismael', 'Agostina Abril', 'Lucas Mauricio'}
Apellidos 5C: {'Mamani Garrido', 'Marinaro', 'Scarano', 'Barrera', 'Barrozo Vedia', 'Vilte', 'Bracamonte Martinez', 'Flores Cardozo', 'Merluzzi Dagum', 'Rios', 'Amador', 'Tapia', 'Araoz Sanchez', 'Sanchez Flores', 'Guanca', 'Figueroa', 'Lopez', 'Messina', 'Grancara', 'Anaquin', 'Gallo', 'Argañaraz', 'Diaz', 'Rasuk', 'Bettinelli', 'Galvan', 'Sierra', 'Colque Rivero', 'Virgillito', 'Giangreco', 'Abud Laspiur'}
Nombres 5D: {'Lucas Gabriel', 'Paulina Milagros', 'Tomas Andres', 'Hugo Mariano', 'Solange Stefania', 'Ludmila Del Milagro', 'Jazmin Esmeralda Belen', 'Emanuel Tobias', 'Santino Stefano', 'Lizzie Amaya', 'Marcelo Fabricio', 'Camila Juliana', 'Mahia', 'Anita Maria Belen', 'Celia Morena', 'Zacarias Josue', 'Alvaro Tadeo', 'Irina', 'Nazarena', 'Pedro Francisco', 'Francisco Gabriel', 'Maria Antonia', 'Victoria Agustina', 'Angélica Morena', 'Agustin Ignacio'}
Apellidos 5D: {'Portella Valdivia', 'Rosales', 'Castillo', 'D Elia', 'Zalazar', 'Correa Segovia', 'Jaime', 'Voltolini', 'Guzman', 'Lacour Polo', 'Lascano Guanca', 'Martinez', 'Caseres', 'Salem Barba', 'Geronimo Soriano', 'Angel', 'Retamal Cisneros', 'Lezcano', 'Alvarado', 'Alurralde', 'Flores', 'Soto Camara', 'Villalba', 'Arenas'}

3. Muestra cuantos nombres únicos hay en cada curso.

In [ ]:

cantidad_nombres_unicos_5C = len(nombres_5C)
cantidad_nombres_unicos_5D = len(nombres_5D)

print("Cantidad de nombres únicos en 5C:", cantidad_nombres_unicos_5C)
print("Cantidad de nombres únicos en 5D:", cantidad_nombres_unicos_5D)

Cantidad de nombres únicos en 5C: 31
Cantidad de nombres únicos en 5D: 25

4. Muestra cuantos apellidos únicos hay en cada curso.

In [11]:

cantidad_apellidos_unicos_5C = len(apellidos_5C)
cantidad_apellidos_unicos_5D = len(apellidos_5D)

print("Cantidad de apellidos únicos en 5C:", cantidad_apellidos_unicos_5C)
print("Cantidad de apellidos únicos en 5D:", cantidad_apellidos_unicos_5D)

Cantidad de apellidos únicos en 5C: 31
Cantidad de apellidos únicos en 5D: 24

5. Mostrá los nombres que se aparecen em ambos cursos

In [12]:


nombres_comunes = nombres_5C.intersection(nombres_5D)
print("Nombres que aparecen en ambos cursos:", nombres_comunes)

Nombres que aparecen en ambos cursos: set()

6. Mostrá los apellidos que se aparecen en ambos cursos

In [13]:

apellidos_repetidos = apellidos_5C.intersection(apellidos_5D)

print("Apellidos que se repiten en ambos cursos:", apellidos_repetidos)

Apellidos que se repiten en ambos cursos: set()

7. Mostrá los nombres de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:

nombres_solo_5C = nombres_5C.difference(nombres_5D)
print("Nombres de estudiantes de 5C que no existen en 5D:", nombres_solo_5C)

nombres_solo_5D = nombres_5D.difference(nombres_5C)
print("Nombres de estudiantes de 5D que no existen en 5C:", nombres_solo_5D)

Nombres de estudiantes de 5C que no existen en 5D: {'Lucia Magali', 'Salvador', 'Katya Milena', 'Renato Marcelo', 'Valentino', 'Sara Elizabeth', 'Santino Josue', 'Matias Ezequiel', 'Luana Micaela', 'Lourdes Yamila', 'Agostina Abril', 'Victoria Constanza', 'Lucas Mauricio', 'Karim', 'Lourdes Mariel', 'Matías Agustín', 'Martina', 'Martin Gabriel', 'Rosario Agostina', 'Martin Ezequiel', 'Ariana Zoe Del Valle', 'Mia Antonella Alondra', 'Agustina Tiara', 'Dulce Maitena', 'Joaquin Nicolas', 'Vitto Tomasso', 'Leonardo Ezequiel', 'Lautaro Nahuel', 'Octavio Ismael', 'Ignacio', 'Martina Luna'}
Nombres de estudiantes de 5D que no existen en 5C: {'Solange Stefania', 'Francisco Gabriel', 'Hugo Mariano', 'Victoria Agustina', 'Anita Maria Belen', 'Mahia', 'Alvaro Tadeo', 'Tomas Andres', 'Nazarena', 'Jazmin Esmeralda Belen', 'Angélica Morena', 'Celia Morena', 'Camila Juliana', 'Agustin Ignacio', 'Lucas Gabriel', 'Maria Antonia', 'Ludmila Del Milagro', 'Lizzie Amaya', 'Santino Stefano', 'Zacarias Josue', 'Pedro Francisco', 'Paulina Milagros', 'Irina', 'Emanuel Tobias', 'Marcelo Fabricio'}

8. Mostrá los apellidos de los estudiantes de 5C que no existen en 5D y viceversa.

In [ ]:

apellidos_solo_5C = apellidos_5C.difference(apellidos_5D)
print("Apellidos de estudiantes de 5C que no existen en 5D:", apellidos_solo_5C)

apellidos_solo_5D = apellidos_5D.difference(apellidos_5C)
print("Apellidos de estudiantes de 5D que no existen en 5C:", apellidos_solo_5D)

Apellidos de estudiantes de 5C que no existen en 5D: {'Figueroa', 'Amador', 'Tapia', 'Virgillito', 'Barrera', 'Galvan', 'Guanca', 'Scarano', 'Messina', 'Argañaraz', 'Merluzzi Dagum', 'Rios', 'Lopez', 'Sierra', 'Gallo', 'Giangreco', 'Bracamonte Martinez', 'Bettinelli', 'Araoz Sanchez', 'Grancara', 'Mamani Garrido', 'Anaquin', 'Flores Cardozo', 'Rasuk', 'Sanchez Flores', 'Diaz', 'Colque Rivero', 'Marinaro', 'Barrozo Vedia', 'Vilte', 'Abud Laspiur'}
Apellidos de estudiantes de 5D que no existen en 5C: {'Salem Barba', 'Soto Camara', 'Lascano Guanca', 'Voltolini', 'D Elia', 'Jaime', 'Alurralde', 'Lacour Polo', 'Correa Segovia', 'Angel', 'Alvarado', 'Lezcano', 'Guzman', 'Arenas', 'Flores', 'Zalazar', 'Rosales', 'Caseres', 'Retamal Cisneros', 'Portella Valdivia', 'Martinez', 'Villalba', 'Castillo', 'Geronimo Soriano'}

9. Mostrá todos los nombres, menos aquellos que existen en ambos cursos.

In [ ]:

todos_los_nombres = nombres_5C.union(nombres_5D)

nombres_sin_comunes = todos_los_nombres.difference(nombres_comunes)

print("Todos los nombres, menos aquellos que existen en ambos cursos:", nombres_sin_comunes)

Todos los nombres, menos aquellos que existen en ambos cursos: {'Solange Stefania', 'Lucia Magali', 'Hugo Mariano', 'Francisco Gabriel', 'Victoria Agustina', 'Salvador', 'Katya Milena', 'Renato Marcelo', 'Anita Maria Belen', 'Valentino', 'Sara Elizabeth', 'Santino Josue', 'Alvaro Tadeo', 'Tomas Andres', 'Mahia', 'Nazarena', 'Matias Ezequiel', 'Jazmin Esmeralda Belen', 'Luana Micaela', 'Angélica Morena', 'Celia Morena', 'Lourdes Yamila', 'Agostina Abril', 'Victoria Constanza', 'Camila Juliana', 'Lucas Mauricio', 'Karim', 'Agustin Ignacio', 'Lourdes Mariel', 'Matías Agustín', 'Lucas Gabriel', 'Martina', 'Martin Gabriel', 'Rosario Agostina', 'Martin Ezequiel', 'Ariana Zoe Del Valle', 'Mia Antonella Alondra', 'Agustina Tiara', 'Dulce Maitena', 'Maria Antonia', 'Joaquin Nicolas', 'Ludmila Del Milagro', 'Lizzie Amaya', 'Santino Stefano', 'Zacarias Josue', 'Vitto Tomasso', 'Leonardo Ezequiel', 'Pedro Francisco', 'Paulina Milagros', 'Lautaro Nahuel', 'Octavio Ismael', 'Ignacio', 'Irina', 'Martina Luna', 'Emanuel Tobias', 'Marcelo Fabricio'}

10. elimina tu nombre del conjunto al que pertenece

In [ ]:


nombres_5D.remove("Anita Maria Belen")
print("Nombres 5D (sin Anita Maria Belen):", nombres_5D)

Nombres 5D (sin Anita Maria Belen): {'Solange Stefania', 'Hugo Mariano', 'Francisco Gabriel', 'Victoria Agustina', 'Alvaro Tadeo', 'Tomas Andres', 'Mahia', 'Nazarena', 'Jazmin Esmeralda Belen', 'Angélica Morena', 'Celia Morena', 'Camila Juliana', 'Agustin Ignacio', 'Lucas Gabriel', 'Maria Antonia', 'Ludmila Del Milagro', 'Lizzie Amaya', 'Santino Stefano', 'Zacarias Josue', 'Pedro Francisco', 'Paulina Milagros', 'Irina', 'Emanuel Tobias', 'Marcelo Fabricio'}

11. Solicita al usuario un nombre y un apellido y agregalos a los correspondientes conjuntos de tu curso.

In [ ]:

nombre = input("Ingresa un nombre: ")
apellido = input("Ingresa un apellido: ")

nombres_5D.add(nombre)
apellidos_5D.add(apellido)

print("Nombres 5D:", nombres_5D)
print("Apellidos 5D:", apellidos_5D)

Ingresa un nombre: benjamin
Ingresa un apellido: trobiani
Nombres 5D: {'Solange Stefania', 'Hugo Mariano', 'Francisco Gabriel', 'Victoria Agustina', 'Alvaro Tadeo', 'Tomas Andres', 'Mahia', 'benjamin', 'Nazarena', 'Jazmin Esmeralda Belen', 'Angélica Morena', 'Celia Morena', 'Camila Juliana', 'Agustin Ignacio', 'Lucas Gabriel', 'Maria Antonia', 'Ludmila Del Milagro', 'Lizzie Amaya', 'Santino Stefano', 'Zacarias Josue', 'Pedro Francisco', 'Paulina Milagros', 'Irina', 'Emanuel Tobias', 'Marcelo Fabricio'}
Apellidos 5D: {'Salem Barba', 'Soto Camara', 'trobiani', 'Lascano Guanca', 'Voltolini', 'D Elia', 'Jaime', 'Alurralde', 'Lacour Polo', 'Correa Segovia', 'Angel', 'Alvarado', 'Lezcano', 'Guzman', 'Arenas', 'Flores', 'Zalazar', 'Rosales', 'Caseres', 'Retamal Cisneros', 'Portella Valdivia', 'Martinez', 'Villalba', 'Castillo', 'Geronimo Soriano'}

12. Solicita un nombre y verifica si este existe en el diccionario

In [14]:
# prompt: Solicita un nombre y verifica si este existe en el diccionario

nombre_a_buscar = input("Ingrese un nombre a buscar: ")

encontrado = False
for student in unique_students:
  if nombre_a_buscar in student["name"]:
    encontrado = True
    break

if encontrado:
  print("El nombre se encuentra en el diccionario.")
else:
  print("El nombre no se encuentra en el diccionario.")

Ingrese un nombre a buscar: Lacour Polo, Nazarena
El nombre se encuentra en el diccionario.